{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Базовый шаблон {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block navbar %}
    <nav>
        <ul>
            <li><a href="{% url 'calculator' %}">Калькулятор</a></li>
            <li><a href="{% url 'history' %}">История</a></li>
        </ul>
    </nav>
    {% endblock %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>