<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Калькулятор{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        {% block style %}{% endblock %}

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div class="bg-primary p-2">
    {% block sidebar %}
        <nav class="nav">
            <button class="btn btn-link text-white" onClick="goTo('{% url 'index' %}')">Калькулятор</button></li>
            <button class="btn btn-link text-white" onClick="goTo('{% url 'operations_list' %}')">История</button></li>
            <button class="btn btn-link text-white" onClick="handleLogout()">Выйти</button></li>
        </nav>
    {% endblock %}
</div>
<div style="padding:20px;">
    {% block content %}{% endblock %}
</div>

<script>
    async function goTo(url) {
        const access = localStorage.getItem('accessToken')

        const response = await fetch(url, {
            method: 'GET',
            headers: {
                Authorization: `Bearer ${access}`
            },
        })

        const html = await response.text()
        document.open()
        for (const key in window) {
            if (window.hasOwnProperty(key) &&
                !key.startsWith('') &&
                typeof window[key] !== 'function') {
                delete window[key];
            }
        }
        document.write(html)
        document.close()
        window.history.pushState({}, '', url)
    }

    function handleLogout() {
        localStorage.removeItem('accessToken')
        localStorage.removeItem('refreshToken')
        window.location.href = '{% url 'login' %}'
    }

</script>

</body>
</html>