{% extends 'base.html' %}

{% block title %}Калькулятор{% endblock %}

{% block style %}
.vertical-input-group .input-group:first-child {
padding-bottom: 0;
}
.vertical-input-group .input-group:first-child * {
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.vertical-input-group .input-group:last-child {
padding-top: 0;
}
.vertical-input-group .input-group:last-child * {
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
padding-top: 0;
padding-bottom: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
border-radius: 0;
}
.vertical-input-group .input-group:not(:first-child) * {
border-top: 0;
}

form {
width: 100%;
max-width: 250px;

.hidden {
display: none;
}
{% endblock %}

{% block content %}
<h1 class="h2 mb-4">История</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Операция</th>
        <th scope="col">Дата</th>
        {% if is_superuser %}
        <th scope="col">Пользователь</th>
        <th scope="col"></th>
        <th scope="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for operation in operations %}
    <tr>
        <th scope="row">{{ operation.id }}</th>
        <td>{{ operation.operation }}</td>
        <td>{{ operation.created_at }}</td>
        {% if is_superuser %}
        <td>{{ operation.user }}</td>
        <td><button class="btn btn-primary" onClick="goTo('{% url 'operations_edit' id=operation.id %}')">Изменить</button></td>
        <td><button class="btn btn-danger" onClick="handleDelete('{% url 'operations_detail' id=operation.id %}')">Удалить</button></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    async function handleDelete(url) {
        const access = localStorage.getItem('accessToken')

        const response = await fetch(url, {
            method: 'DELETE',
            headers: {
                Authorization: `Bearer ${access}`,
            },
        })

        if (response.ok) {
            const response = await fetch('{% url 'operations_list' %}', {
                method: 'GET',
                headers: {
                    Authorization: `Bearer ${access}`
                },
            })

            const html = await response.text()
            document.open()
            for (const key in window) {
                if (window.hasOwnProperty(key) &&
                    !key.startsWith('') &&
                    typeof window[key] !== 'function') {
                    delete window[key];
                }
            }
            document.write(html)
            document.close()
            window.history.pushState({}, '', '{% url 'operations_list' %}')
        }
    }
</script>
{% endblock %}